
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('img/bg.jpg') center/cover no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}
.wrapper img{
    width: 140px;
    transform: scale(1);
    animation: scaleEffect 3s linear infinite;
}
@keyframes scaleEffect{
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.9);
    }
}
.wrapper h2{
    margin-top: 2rem;
    font-weight: 500;
}
.wrapper span{
    display: block;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

#message{
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: 500;
}

#play-again-btn{
    background-color: #fff;
    margin-top: 1rem;
    padding: 0.65rem 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
}